<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin/*" access="hasAuthority('admin')" />

        <intercept-url pattern="/customer/auctions" access="hasAuthority('customer')" />
        <intercept-url pattern="/customer/credits" access="hasAuthority('customer')" />
        <intercept-url pattern="/customer/buyings" access="hasAuthority('customer')" />

        <intercept-url pattern="/seller/sales" access="hasAuthority('seller')" />
        <intercept-url pattern="/seller/auctions" access="hasAuthority('seller')" />
        <intercept-url pattern="/seller/addProperty" access="hasAuthority('seller')" />

        <intercept-url pattern="/auctions" access="isAuthenticated()" />
        <intercept-url pattern="/main" access="isAuthenticated()" />
        <intercept-url pattern="/profile" access="isAuthenticated()"/>

        <intercept-url pattern="/seller/login" access="permitAll" />
        <intercept-url pattern="/customer/login" access="permitAll" />
        <intercept-url pattern="/changePassword" access="permitAll" />
        <intercept-url pattern="/index" access="permitAll" />
        <intercept-url pattern="/logout" access="permitAll" />

        <form-login login-page="/seller/login"
                    login-processing-url="/performLogin"
                    default-target-url="/main"
                    username-parameter="email"
                    password-parameter="password"
                    authentication-failure-url="/login/error"
        />

        <logout
                logout-success-url="/index"
                logout-url="/performLogout"
                invalidate-session="true"
                delete-cookies="JSESSIONID"
        />
        <csrf disabled="true" />
    </http>



    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select email,password,1 as enabled from users where email=?"
                               authorities-by-username-query=
                                       "select u.email, r.name from users u, role r, user_roles ur where u.id = ur.user_id and ur.roles_id = r.id and u.email =?" />
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>

    <beans:bean id ="passwordEncoder" class = "org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method = "getInstance" />
</beans:beans>